# **Random Forest**

Log-loss Score obtained: **0.68189**

## **Setup**

In [1]:
!git clone https://github.com/yeray142/AIML_project

Cloning into 'AIML_project'...
remote: Enumerating objects: 53, done.
remote: Counting objects: 100% (53/53), done.
remote: Compressing objects: 100% (49/49), done.
remote: Total 53 (delta 17), reused 16 (delta 1), pack-reused 0
Unpacking objects: 100% (53/53), done.

In [2]:
cd AIML_project

/content/AIML_project

In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv("../data/rf_train.csv", index_col=0)
test = pd.read_csv("../data/rf_test.csv", index_col=0)

In [2]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, StandardScaler, OneHotEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import log_loss

## **Data preprocessing**

In [3]:
train.head()

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,days_birth,days_employed,work_phone,home_phone,email,occup_type,family_size,begin_month,credit
0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,13899,4709,0,0,0,No job,2.0,6,1.0
1,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,15088,2092,0,1,0,Sales staff,2.0,37,0.0
2,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,15037,2105,0,0,0,Managers,2.0,26,2.0
3,F,N,Y,2,270000.0,Working,Secondary / secondary special,Married,House / apartment,13413,4996,0,0,1,High skill tech staff,4.0,18,1.0
4,F,N,N,0,315000.0,Working,Secondary / secondary special,Separated,House / apartment,17570,1978,0,0,1,Core staff,1.0,41,2.0

In [4]:
test.head()

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,days_birth,days_employed,work_phone,home_phone,email,occup_type,family_size,begin_month
index,,,,,,,,,,,,,,,,,
26457,M,Y,N,0,112500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,21990,0,0,1,0,No job,2.0,60
26458,F,N,Y,0,135000.0,State servant,Higher education,Married,House / apartment,18964,8671,0,1,0,Core staff,2.0,36
26459,F,N,Y,0,69372.0,Working,Secondary / secondary special,Married,House / apartment,15887,217,1,1,0,Laborers,2.0,40
26460,M,Y,N,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,19270,2531,1,0,0,Drivers,2.0,41
26461,F,Y,Y,0,225000.0,State servant,Higher education,Married,House / apartment,17822,9385,1,0,0,Managers,2.0,8

### Feature Engineering

In [6]:
for x in [train, test]:
    # Just adding some features about unemployment:
    x['days_unemployed'] = x['days_birth'] - x['days_employed']
    x['income_unemployed'] = x['income_total'] / x['days_unemployed']

    # Adding Age, birth month and birth week. Birth_month: Month when the person born, etc.
    x['Age'] = x['days_birth'] // 365
    x['birth_month'] = np.floor(x['days_birth'] / 30) - ((np.floor(x['days_birth'] / 30) / 12).astype(int) * 12)
    x['birth_week'] = np.floor(x['days_birth'] / 7) - ((np.floor(x['days_birth'] / 7) / 4).astype(int) * 4)

    # Same with days_birth but with days_employed.
    x['ages_employed'] = x['days_employed'] // 365
    x['employ_month'] = np.floor(x['days_employed'] / 30) - ((np.floor(x['days_employed'] / 30) / 12).astype(int) * 12)
    x['employ_week'] = np.floor(x['days_employed'] / 7) - ((np.floor(x['days_employed'] / 7) / 4).astype(int) * 4)

    # Same but with days unemployed:
    x['ages_unemployed'] = x['days_unemployed'] // 365
    x['unemploy_month'] = np.floor(x['days_unemployed'] / 30) - ((np.floor(x['days_unemployed'] / 30) / 12).astype(int) * 12)
    x['unemploy_week'] = np.floor(x['days_unemployed'] / 7) - ((np.floor(x['days_unemployed'] / 7) / 4).astype(int) * 4)

    # Actual income per family member.
    x["income_family"] = x["income_total"] / x["family_size"]

    # Handling with multicollinearity
    cols = ['child_num', 'days_birth', 'days_employed']
    x.drop(cols, axis=1, inplace=True)

In [7]:
train.columns

Index(['gender', 'car', 'reality', 'income_total', 'income_type', 'edu_type',
       'family_type', 'house_type', 'work_phone', 'home_phone', 'email',
       'occup_type', 'family_size', 'begin_month', 'credit', 'days_unemployed',
       'income_unemployed', 'Age', 'birth_month', 'birth_week',
       'ages_employed', 'employ_month', 'employ_week', 'ages_unemployed',
       'unemploy_month', 'unemploy_week', 'income_family'],
      dtype='object')

In [8]:
test.columns

Index(['gender', 'car', 'reality', 'income_total', 'income_type', 'edu_type',
       'family_type', 'house_type', 'work_phone', 'home_phone', 'email',
       'occup_type', 'family_size', 'begin_month', 'days_unemployed',
       'income_unemployed', 'Age', 'birth_month', 'birth_week',
       'ages_employed', 'employ_month', 'employ_week', 'ages_unemployed',
       'unemploy_month', 'unemploy_week', 'income_family'],
      dtype='object')

### Encoding

In [9]:
# Separate numerical and categorical features
num = train.dtypes[train.dtypes != "object"].index.tolist()
num.remove('credit')

cat = train.dtypes[train.dtypes == "object"].index.tolist()

In [10]:
num

['income_total',
 'work_phone',
 'home_phone',
 'email',
 'family_size',
 'begin_month',
 'days_unemployed',
 'income_unemployed',
 'Age',
 'birth_month',
 'birth_week',
 'ages_employed',
 'employ_month',
 'employ_week',
 'ages_unemployed',
 'unemploy_month',
 'unemploy_week',
 'income_family']

In [11]:
cat

['gender',
 'car',
 'reality',
 'income_type',
 'edu_type',
 'family_type',
 'house_type',
 'occup_type']

In [12]:
train.head()

,gender,car,reality,income_total,income_type,edu_type,family_type,house_type,work_phone,home_phone,...,Age,birth_month,birth_week,ages_employed,employ_month,employ_week,ages_unemployed,unemploy_month,unemploy_week,income_family
0,F,N,N,202500.0,Commercial associate,Higher education,Married,Municipal apartment,0,0,...,38,7.0,1.0,12,0.0,0.0,25,6.0,0.0,101250.0
1,F,N,Y,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,0,1,...,41,10.0,3.0,5,9.0,2.0,35,1.0,0.0,101250.0
2,F,Y,Y,157500.0,State servant,Higher education,Married,House / apartment,0,0,...,41,9.0,0.0,5,10.0,0.0,35,11.0,3.0,78750.0
3,F,N,Y,270000.0,Working,Secondary / secondary special,Married,House / apartment,0,0,...,36,3.0,0.0,13,10.0,1.0,23,4.0,2.0,67500.0
4,F,N,N,315000.0,Working,Secondary / secondary special,Separated,House / apartment,0,0,...,48,9.0,2.0,5,5.0,2.0,42,3.0,3.0,315000.0

In [14]:
# StandardScaler
scaler = StandardScaler()
train[num] = scaler.fit_transform(train[num])
test[num] = scaler.transform(test[num])

The result using OrdinalEncoding and LabelEncoding is exactly the same, there's no difference:

In [13]:
# OrdinalEncoding
oenc = OrdinalEncoder()
train[cat] = oenc.fit_transform(train[cat], train['credit'])
test[cat] = oenc.transform(test[cat])

In [139]:
# THIS CODE IS DEPRECATED AND SHOULD NOT BE USED ANYMORE

# LabelEncoding
for x in cat:
  lenc = LabelEncoder()
  lenc = lenc.fit(train[x])
  train[x] = lenc.transform(train[x])
  test[x] = lenc.transform(test[x])

## **Model and train**

In [15]:
def stratified_kfold_rf(p, n_fold, X, y, X_test):
    # Declaring Stratified K-Fold:
    folds = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=42)
    splits = folds.split(X, y)
    
    # Initializing arrays:
    rf_oof = np.zeros((X.shape[0], 3))
    rf_preds = np.zeros((X_test.shape[0], 3))

    # Main loop:
    for fold, (train_idx, valid_idx) in enumerate(splits):
        print(f"============ Fold {fold} ============")
        
        X_train, X_valid = X.iloc[train_idx], X.iloc[valid_idx]
        y_train, y_valid = y.iloc[train_idx], y.iloc[valid_idx]
        
        # Model fit:
        model = RandomForestClassifier(**p)
        model.fit(X_train, y_train)

        rf_oof[valid_idx] = model.predict_proba(X_valid) # Infers the class probability of train dataset
        rf_preds += model.predict_proba(X_test) / n_fold # Infers the class probability of test dataset
        print(f"Log Loss Score: {log_loss(y_valid, rf_oof[valid_idx]):.5f}")

    log_score = log_loss(y, rf_oof)
    print(f"\nLog Loss Score: {log_score:.5f}")

    return rf_oof, rf_preds

In [16]:
# Manual hyperparameterization
p = {
  "criterion": "entropy",
  "n_estimators": 300,
  "min_samples_split": 10,
  "min_samples_leaf": 2,
  "max_features": "sqrt",
  "oob_score": True,
  "random_state": 42,
  "n_jobs": -1,
  }

In [17]:
X = train.drop("credit", axis=1)
y = train["credit"]
X_test = test.copy()

Now, let's try using Optuna to find best hyperparameters:

In [33]:
from sklearn.model_selection import cross_val_score

def objective(trial):
    p = {
        #"max_depth": trial.suggest_int('max_depth', 1, 10),
        "max_leaf_nodes": trial.suggest_int('max_leaf_nodes', 2, 1000),
        "n_estimators": trial.suggest_int('n_estimators', 100, 500),
        "min_samples_split": trial.suggest_int('min_samples_split', 2, 30),
        "min_samples_leaf": trial.suggest_int('min_samples_leaf', 1, 10),
    }

    rf = RandomForestClassifier(**p)
    rf.fit(X, y)

    score = cross_val_score(rf, X, y, cv=5, scoring="neg_log_loss")
    log_loss = score.mean()

    return log_loss

In [34]:
import optuna

rf_study = optuna.create_study(direction='maximize')
rf_study.optimize(objective, n_trials=10)

print("Best Score:",rf_study.best_value)
print("Best trial",rf_study.best_trial.params)

[I 2022-12-08 09:43:46,857] A new study created in memory with name: no-name-f9157b26-503c-4d2f-9b08-e4e11a25bfff
[I 2022-12-08 09:44:42,092] Trial 0 finished with value: -0.7477863761779581 and parameters: {'max_leaf_nodes': 286, 'n_estimators': 500, 'min_samples_split': 5, 'min_samples_leaf': 9}. Best is trial 0 with value: -0.7477863761779581.
[I 2022-12-08 09:45:05,959] Trial 1 finished with value: -0.7566382641626026 and parameters: {'max_leaf_nodes': 206, 'n_estimators': 238, 'min_samples_split': 8, 'min_samples_leaf': 2}. Best is trial 0 with value: -0.7477863761779581.
[I 2022-12-08 09:45:56,580] Trial 2 finished with value: -0.7230065800009138 and parameters: {'max_leaf_nodes': 525, 'n_estimators': 401, 'min_samples_split': 12, 'min_samples_leaf': 4}. Best is trial 2 with value: -0.7230065800009138.
[I 2022-12-08 09:46:20,048] Trial 3 finished with value: -0.7969444974178994 and parameters: {'max_leaf_nodes': 34, 'n_estimators': 350, 'min_samples_split': 18, 'min_samples_leaf': 3}. Best is trial 2 with value: -0.7230065800009138.
[I 2022-12-08 09:46:31,530] Trial 4 finished with value: -0.7429278817301985 and parameters: {'max_leaf_nodes': 329, 'n_estimators': 101, 'min_samples_split': 11, 'min_samples_leaf': 6}. Best is trial 2 with value: -0.7230065800009138.
[I 2022-12-08 09:46:51,032] Trial 5 finished with value: -0.7352105739421745 and parameters: {'max_leaf_nodes': 392, 'n_estimators': 158, 'min_samples_split': 28, 'min_samples_leaf': 1}. Best is trial 2 with value: -0.7230065800009138.
[I 2022-12-08 09:47:59,726] Trial 6 finished with value: -0.7115059694377701 and parameters: {'max_leaf_nodes': 840, 'n_estimators': 487, 'min_samples_split': 21, 'min_samples_leaf': 4}. Best is trial 6 with value: -0.7115059694377701.
[I 2022-12-08 09:48:37,251] Trial 7 finished with value: -0.7547438419359688 and parameters: {'max_leaf_nodes': 219, 'n_estimators': 366, 'min_samples_split': 17, 'min_samples_leaf': 5}. Best is trial 6 with value: -0.7115059694377701.
[I 2022-12-08 09:48:57,181] Trial 8 finished with value: -0.7532103851391521 and parameters: {'max_leaf_nodes': 242, 'n_estimators': 189, 'min_samples_split': 3, 'min_samples_leaf': 8}. Best is trial 6 with value: -0.7115059694377701.
[I 2022-12-08 09:49:24,627] Trial 9 finished with value: -0.7626295688280527 and parameters: {'max_leaf_nodes': 170, 'n_estimators': 288, 'min_samples_split': 4, 'min_samples_leaf': 3}. Best is trial 6 with value: -0.7115059694377701.

Best Score: -0.7115059694377701
Best trial {'max_leaf_nodes': 840, 'n_estimators': 487, 'min_samples_split': 21, 'min_samples_leaf': 4}

In [35]:
# Optuna hyperparameterization
p_optuna = {
  "criterion": "entropy",
  "max_features": "sqrt",
  "oob_score": True,
  "random_state": 42,
  "n_jobs": -1,

  "max_leaf_nodes": 840,
  "n_estimators": 487,
  "min_samples_split": 21,
  "min_samples_leaf": 4,
  }

In [36]:
rf_oof, rf_preds = stratified_kfold_rf(p, 10, X, y, X_test)

============ Fold 0 ============
Log Loss Score: 0.68736
============ Fold 1 ============
Log Loss Score: 0.68164
============ Fold 2 ============
Log Loss Score: 0.66641
============ Fold 3 ============
Log Loss Score: 0.66620
============ Fold 4 ============
Log Loss Score: 0.68641
============ Fold 5 ============
Log Loss Score: 0.67191
============ Fold 6 ============
Log Loss Score: 0.70074
============ Fold 7 ============
Log Loss Score: 0.68104
============ Fold 8 ============
Log Loss Score: 0.68441
============ Fold 9 ============
Log Loss Score: 0.69283

Log Loss Score: 0.68189

In [37]:
rf_oof_optuna, rf_preds_optuna = stratified_kfold_rf(p_optuna, 10, X, y, X_test)

============ Fold 0 ============
Log Loss Score: 0.70759
============ Fold 1 ============
Log Loss Score: 0.70288
============ Fold 2 ============
Log Loss Score: 0.69580
============ Fold 3 ============
Log Loss Score: 0.69534
============ Fold 4 ============
Log Loss Score: 0.70822
============ Fold 5 ============
Log Loss Score: 0.69837
============ Fold 6 ============
Log Loss Score: 0.71828
============ Fold 7 ============
Log Loss Score: 0.70512
============ Fold 8 ============
Log Loss Score: 0.70202
============ Fold 9 ============
Log Loss Score: 0.71410

Log Loss Score: 0.70477

The result using manual hyperparameterization is better, so let's save this configuration:

In [19]:
rf_preds.shape

(10000, 3)

In [20]:
rf_oof.shape

(23392, 3)

## **Save results**

In [21]:
submission = pd.read_csv("../data/sample_submission.csv")
submission.set_index("index", inplace=True)
submission[:] = rf_preds
submission.head()

              0         1         2
index
26457  0.068513  0.216909  0.714578
26458  0.303931  0.274497  0.421573
26459  0.039117  0.066872  0.894011
26460  0.081644  0.083682  0.834674
26461  0.114849  0.172174  0.712977