# Pycaret with cleaned data

## Virtual environment (to prevent version conflict)

!which python # should return /usr/local/bin/python
!python --version

!echo $PYTHONPATH # /env/python

%env PYTHONPATH=

################################################################################
# INSTALL CONDA ON GOOGLE COLAB
################################################################################
! wget https://repo.anaconda.com/miniconda/Miniconda3-py37_4.9.2-Linux-x86_64.sh
! chmod +x Miniconda3-py37_4.9.2-Linux-x86_64.sh
! bash ./Miniconda3-py37_4.9.2-Linux-x86_64.sh -b -f -p /usr/local
import sys
sys.path.append('/usr/local/lib/python3.7/site-packages/')
!which conda  # should return /usr/local/bin/conda
!conda --version

!conda create -n new11 python==3.8

!source activate new11 && conda env list

#!conda uninstall scikit-learn
#!conda install scikit-learn==0.23.2
!pip install pip install imbalanced-learn==0.7.0 
!pip install pycaret==2.3.10


#!pip install pandas==1.2.4
#!pip install numpy==1.19.5

# --use-feature=2020-resolver # Even if there is an error, you can just proceed.

In [1]:
!pip install pycaret

Requirement already satisfied: pycaret in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (2.3.10)
Requirement already satisfied: umap-learn in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.5.3)
Requirement already satisfied: pyyaml<6.0.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (5.4.1)
Requirement already satisfied: plotly>=4.4.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (5.11.0)
Requirement already satisfied: cufflinks>=0.17.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.17.3)
Requirement already satisfied: scikit-plot in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.3.7)
Requirement already satisfied: pandas in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (1.5.2)
Requirement already satisfied: scipy<=1.5.4 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (1.5.4)
Requirement already satisfied: seaborn in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.12.1)
Requirement already satisfied: numba<0.55 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.54.1)
Requirement already satisfied: mlxtend>=0.17.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.19.0)
Requirement already satisfied: pandas-profiling>=2.8.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (3.5.0)
Requirement already satisfied: Boruta in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.3)
Requirement already satisfied: mlflow in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (2.0.1)
Requirement already satisfied: scikit-learn==0.23.2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.23.2)
Requirement already satisfied: pyLDAvis in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (3.3.1)
Requirement already satisfied: spacy<2.4.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (2.3.8)
Requirement already satisfied: pyod in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (1.0.6)
Requirement already satisfied: joblib in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (1.2.0)
Requirement already satisfied: kmodes>=0.10.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.12.2)
Requirement already satisfied: nltk in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (3.7)
Requirement already satisfied: textblob in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.17.1)
Requirement already satisfied: imbalanced-learn==0.7.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (0.7.0)
Requirement already satisfied: matplotlib in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (3.6.2)
Requirement already satisfied: yellowbrick>=1.0.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (1.2.1)
Requirement already satisfied: IPython in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (8.7.0)
Requirement already satisfied: gensim<4.0.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (3.8.3)
Requirement already satisfied: ipywidgets in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (8.0.2)
Requirement already satisfied: wordcloud in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (1.8.2.2)
Requirement already satisfied: lightgbm>=2.3.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pycaret) (3.3.3)
Requirement already satisfied: numpy>=1.13.3 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from imbalanced-learn==0.7.0->pycaret) (1.20.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from scikit-learn==0.23.2->pycaret) (3.1.0)
Requirement already satisfied: colorlover>=0.2.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from cufflinks>=0.17.0->pycaret) (1.16.0)
Requirement already satisfied: setuptools>=34.4.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from cufflinks>=0.17.0->pycaret) (65.5.0)
Requirement already satisfied: smart-open>=1.8.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from gensim<4.0.0->pycaret) (6.2.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (2.13.0)
Requirement already satisfied: matplotlib-inline in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (0.1.6)
Requirement already satisfied: backcall in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (0.2.0)
Requirement already satisfied: stack-data in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (0.6.2)
Requirement already satisfied: decorator in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (0.18.2)
Requirement already satisfied: pickleshare in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: traitlets>=5 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (5.6.0)
Requirement already satisfied: pexpect>4.3 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (3.0.33)
Requirement already satisfied: appnope in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from IPython->pycaret) (0.1.3)
Requirement already satisfied: jupyterlab-widgets~=3.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from ipywidgets->pycaret) (3.0.3)
Requirement already satisfied: widgetsnbextension~=4.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from ipywidgets->pycaret) (4.0.3)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from ipywidgets->pycaret) (6.17.1)
Requirement already satisfied: wheel in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from lightgbm>=2.3.1->pycaret) (0.37.1)
Requirement already satisfied: packaging>=20.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from matplotlib->pycaret) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from matplotlib->pycaret) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from matplotlib->pycaret) (4.38.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from matplotlib->pycaret) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from matplotlib->pycaret) (9.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from matplotlib->pycaret) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from matplotlib->pycaret) (1.0.6)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from matplotlib->pycaret) (3.0.9)
Requirement already satisfied: llvmlite<0.38,>=0.37.0rc1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from numba<0.55->pycaret) (0.37.0)
Requirement already satisfied: pytz>=2020.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas->pycaret) (2022.6)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.13.5)
Requirement already satisfied: htmlmin==0.1.12 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (4.64.1)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (2.13.3)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (1.10.2)
Requirement already satisfied: phik<0.13,>=0.11.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.2)
Requirement already satisfied: multimethod<1.10,>=1.4 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (1.9)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (3.1.2)
Requirement already satisfied: requests<2.29,>=2.24.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (2.28.1)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.5)
Requirement already satisfied: networkx>=2.4 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (2.8.8)
Requirement already satisfied: attrs>=19.3.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (22.1.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (0.2.0)
Requirement already satisfied: imagehash in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (4.3.1)
Requirement already satisfied: tenacity>=6.2.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from plotly>=4.4.1->pycaret) (8.1.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (1.0.9)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (0.7.9)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (1.0.2)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (0.10.1)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (1.0.6)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (7.4.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (3.0.8)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from spacy<2.4.0->pycaret) (2.0.7)
Requirement already satisfied: protobuf<5,>=3.12.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (4.21.9)
Requirement already satisfied: shap<1,>=0.40 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (0.41.0)
Requirement already satisfied: docker<7,>=4.0.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (6.0.1)
Requirement already satisfied: sqlalchemy<2,>=1.4.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (1.4.44)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (0.4.3)
Requirement already satisfied: Flask<3 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (2.2.2)
Requirement already satisfied: databricks-cli<1,>=0.8.7 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (0.17.3)
Requirement already satisfied: pyarrow<11,>=4.0.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (10.0.1)
Requirement already satisfied: cloudpickle<3 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (2.2.0)
Requirement already satisfied: markdown<4,>=3.3 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (3.4.1)
Requirement already satisfied: entrypoints<1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (0.4)
Requirement already satisfied: importlib-metadata!=4.7.0,<6,>=3.7.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (5.1.0)
Requirement already satisfied: gunicorn<21 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (20.1.0)
Requirement already satisfied: click<9,>=7.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (8.1.3)
Requirement already satisfied: querystring-parser<2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: alembic<2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (1.8.1)
Requirement already satisfied: gitpython<4,>=2.1.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from mlflow->pycaret) (3.1.29)
Requirement already satisfied: regex>=2021.8.3 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from nltk->pycaret) (2022.10.31)
Requirement already satisfied: future in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pyLDAvis->pycaret) (0.18.2)
Requirement already satisfied: sklearn in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pyLDAvis->pycaret) (0.0.post1)
Requirement already satisfied: funcy in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pyLDAvis->pycaret) (1.17)
Requirement already satisfied: numexpr in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pyLDAvis->pycaret) (2.8.4)
Requirement already satisfied: pynndescent>=0.5 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from umap-learn->pycaret) (0.5.8)
Requirement already satisfied: importlib-resources in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from alembic<2->mlflow->pycaret) (5.10.0)
Requirement already satisfied: Mako in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from alembic<2->mlflow->pycaret) (1.2.4)
Requirement already satisfied: pyjwt>=1.7.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (2.6.0)
Requirement already satisfied: oauthlib>=3.1.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (3.2.2)
Requirement already satisfied: tabulate>=0.7.7 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (0.9.0)
Requirement already satisfied: websocket-client>=0.32.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from docker<7,>=4.0.0->mlflow->pycaret) (1.4.2)
Requirement already satisfied: urllib3>=1.26.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from docker<7,>=4.0.0->mlflow->pycaret) (1.26.13)
Requirement already satisfied: itsdangerous>=2.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from Flask<3->mlflow->pycaret) (2.1.2)
Requirement already satisfied: Werkzeug>=2.2.2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from Flask<3->mlflow->pycaret) (2.2.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from gitpython<4,>=2.1.0->mlflow->pycaret) (4.0.10)
Requirement already satisfied: zipp>=0.5 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from importlib-metadata!=4.7.0,<6,>=3.7.0->mlflow->pycaret) (3.11.0)
Requirement already satisfied: debugpy>=1.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (1.6.4)
Requirement already satisfied: tornado>=6.1 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.2)
Requirement already satisfied: psutil in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.9.4)
Requirement already satisfied: nest-asyncio in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (1.5.6)
Requirement already satisfied: pyzmq>=17 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (24.0.1)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (7.4.7)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from jedi>=0.16->IPython->pycaret) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling>=2.8.0->pycaret) (2.1.1)
Requirement already satisfied: ptyprocess>=0.5 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pexpect>4.3->IPython->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from prompt-toolkit<3.1.0,>=3.0.11->IPython->pycaret) (0.2.5)
Requirement already satisfied: typing-extensions>=4.1.0 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from pydantic<1.11,>=1.8.1->pandas-profiling>=2.8.0->pycaret) (4.4.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/ojoo/opt/anaconda3/envs/new1/lib/python3.8/site-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.1.1)

## Data

In [2]:
import pandas as pd

In [3]:
train_df=pd.read_csv("../data/cleaned_train.csv")
test_df=pd.read_csv("../data/cleaned_test.csv")

train_df.head()

,Unnamed: 0,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,days_birth,days_employed,work_phone,home_phone,email,occup_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,13899,4709,0,0,0,No job,2.0,6,1.0
1,1,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,15088,2092,0,1,0,Sales staff,2.0,37,0.0
2,2,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,15037,2105,0,0,0,Managers,2.0,26,2.0
3,3,F,N,Y,2,270000.0,Working,Secondary / secondary special,Married,House / apartment,13413,4996,0,0,1,High skill tech staff,4.0,18,1.0
4,4,F,N,N,0,315000.0,Working,Secondary / secondary special,Separated,House / apartment,17570,1978,0,0,1,Core staff,1.0,41,2.0

In [4]:
train_df.isnull().sum()

Unnamed: 0       0
gender           0
car              0
reality          0
child_num        0
income_total     0
income_type      0
edu_type         0
family_type      0
house_type       0
days_birth       0
days_employed    0
work_phone       0
home_phone       0
email            0
occup_type       0
family_size      0
begin_month      0
credit           0
dtype: int64

In [5]:
train_df.drop(['Unnamed: 0'], axis=1, inplace=True)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23392 entries, 0 to 23391
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         23392 non-null  object
 1   car            23392 non-null  object
 2   reality        23392 non-null  object
 3   child_num      23392 non-null  int64
 4   income_total   23392 non-null  float64
 5   income_type    23392 non-null  object
 6   edu_type       23392 non-null  object
 7   family_type    23392 non-null  object
 8   house_type     23392 non-null  object
 9   days_birth     23392 non-null  int64
 10  days_employed  23392 non-null  int64
 11  work_phone     23392 non-null  int64
 12  home_phone     23392 non-null  int64
 13  email          23392 non-null  int64
 14  occup_type     23392 non-null  object
 15  family_size    23392 non-null  float64
 16  begin_month    23392 non-null  int64
 17  credit         23392 non-null  float64
dtypes: float64(3), int64(7), object(8)
memory usage: 3.2+ MB

In [6]:
train_df['credit'] = train_df['credit'].astype('category')

In [7]:
train_df_copy = train_df.copy()
test_df_copy = test_df.copy()
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23392 entries, 0 to 23391
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         23392 non-null  object
 1   car            23392 non-null  object
 2   reality        23392 non-null  object
 3   child_num      23392 non-null  int64
 4   income_total   23392 non-null  float64
 5   income_type    23392 non-null  object
 6   edu_type       23392 non-null  object
 7   family_type    23392 non-null  object
 8   house_type     23392 non-null  object
 9   days_birth     23392 non-null  int64
 10  days_employed  23392 non-null  int64
 11  work_phone     23392 non-null  int64
 12  home_phone     23392 non-null  int64
 13  email          23392 non-null  int64
 14  occup_type     23392 non-null  object
 15  family_size    23392 non-null  float64
 16  begin_month    23392 non-null  int64
 17  credit         23392 non-null  category
dtypes: category(1), float64(2), int64(7), object(8)
memory usage: 3.1+ MB

## Numerical Data: Scaling

In [8]:
from sklearn.preprocessing import StandardScaler

scaling_cols = ['child_num','income_total','days_birth','days_employed','family_size','begin_month']

std_scaler = StandardScaler()
std_scaler.fit(train_df[scaling_cols])

train_scaled = std_scaler.transform(train_df[scaling_cols])
test_scaled = std_scaler.transform(test_df[scaling_cols]) # Apply to the test set using the scaler that was fitted with train data!!

train_scaled = pd.DataFrame(train_scaled, columns=scaling_cols)
test_scaled = pd.DataFrame(test_scaled, columns=scaling_cols)

train_scaled.shape, test_scaled.shape

((23392, 6), (10000, 6))

## Categorical Data: One-hot Encoding

In [9]:
onehot_cols = ['gender','car','reality','income_type','edu_type','family_type','house_type','occup_type','work_phone','home_phone','email']
data = pd.concat([train_df[onehot_cols], test_df[onehot_cols]]) # One-hot encoding using the combination of train and test data

In [10]:
data = pd.get_dummies(data)
data.head()

,work_phone,home_phone,email,gender_F,gender_M,car_N,car_Y,reality_N,reality_Y,income_type_Commercial associate,...,occup_type_Low-skill Laborers,occup_type_Managers,occup_type_Medicine staff,occup_type_No job,occup_type_Private service staff,occup_type_Realty agents,occup_type_Sales staff,occup_type_Secretaries,occup_type_Security staff,occup_type_Waiters/barmen staff
0,0,0,0,1,0,1,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
1,0,1,0,1,0,1,0,0,1,1,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# data separation
data = data.reset_index(drop=True)
train_encoded = data.loc[:23391]
test_encoded = data.loc[23392:]
test_encoded = test_encoded.reset_index(drop=True)
train_encoded.shape, test_encoded.shape

((23392, 49), (10000, 49))

## Merge scaled numerical data with encoded categorical data

In [12]:
Train = pd.concat([train_scaled,train_encoded],axis=1)
Train = pd.concat([Train,train_df['credit']],axis=1)

Test = pd.concat([test_scaled,test_encoded],axis=1)

Train.shape, Test.shape

((23392, 56), (10000, 55))

In [13]:
Train.columns

Index(['child_num', 'income_total', 'days_birth', 'days_employed',
       'family_size', 'begin_month', 'work_phone', 'home_phone', 'email',
       'gender_F', 'gender_M', 'car_N', 'car_Y', 'reality_N', 'reality_Y',
       'income_type_Commercial associate', 'income_type_Pensioner',
       'income_type_State servant', 'income_type_Student',
       'income_type_Working', 'edu_type_Academic degree',
       'edu_type_Higher education', 'edu_type_Incomplete higher',
       'edu_type_Lower secondary', 'edu_type_Secondary / secondary special',
       'family_type_Civil marriage', 'family_type_Married',
       'family_type_Separated', 'family_type_Single / not married',
       'family_type_Widow', 'house_type_Co-op apartment',
       'house_type_House / apartment', 'house_type_Municipal apartment',
       'house_type_Office apartment', 'house_type_Rented apartment',
       'house_type_With parents', 'occup_type_Accountants',
       'occup_type_Cleaning staff', 'occup_type_Cooking staff',
       'occup_type_Core staff', 'occup_type_Drivers', 'occup_type_HR staff',
       'occup_type_High skill tech staff', 'occup_type_IT staff',
       'occup_type_Laborers', 'occup_type_Low-skill Laborers',
       'occup_type_Managers', 'occup_type_Medicine staff', 'occup_type_No job',
       'occup_type_Private service staff', 'occup_type_Realty agents',
       'occup_type_Sales staff', 'occup_type_Secretaries',
       'occup_type_Security staff', 'occup_type_Waiters/barmen staff',
       'credit'],
      dtype='object')

## Create validation data

In [14]:
x_data = Train.drop(['credit'], axis=1)
y_data = Train['credit']

In [15]:
#from sklearn.model_selection import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state=777)

## Pycaret

In [16]:
#!pip uninstall scikit-learn
#!pip install scikit-learn==0.23.2
#!pip uninstall numpy
#!pip install numpy==1.20.0

In [17]:
#!pip install scikit-learn==0.23.2

#sklearn.__version__

In [18]:
#!pip uninstall sklearn
#!pip install scikit-learn==0.23.2
#!pip install imbalanced-learn==0.7.0

In [19]:
#from pycaret.utils import enable_colab
#enable_colab()
#!pip install pycaret

In [20]:
from pycaret.utils import enable_colab
from pycaret.classification import *

# setup
pycaret_model = setup(Train, target = 'credit', train_size = 0.8, fold = 5, fold_shuffle=True)

In [21]:
# Add metric
from sklearn.metrics import log_loss
add_metric('logloss', 'LogLoss', log_loss, greater_is_better=False, target="pred_proba")

Name                                                           LogLoss
Display Name                                                   LogLoss
Score Function                   <function log_loss at 0x7fefbe9430d0>
Scorer               make_scorer(log_loss, greater_is_better=False,...
Target                                                      pred_proba
Args                                                                {}
Greater is Better                                                False
Multiclass                                                        True
Custom                                                            True
Name: logloss, dtype: object

In [24]:
# Performance Comparison
best5 = compare_models(fold = 5, n_select = 5, sort = 'LogLoss')

## Parameter Tuning

In [25]:
lgbm = create_model('lightgbm')
lgbm_tuned = tune_model(lgbm, optimize = 'LogLoss')

In [26]:
lgbm_tuned

LGBMClassifier(bagging_fraction=0.7, bagging_freq=5, boosting_type='gbdt',
               class_weight=None, colsample_bytree=1.0, feature_fraction=0.4,
               importance_type='split', learning_rate=0.05, max_depth=-1,
               min_child_samples=46, min_child_weight=0.001, min_split_gain=0.2,
               n_estimators=110, n_jobs=-1, num_leaves=80, objective=None,
               random_state=2073, reg_alpha=0.001, reg_lambda=0.15,
               silent='warn', subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [27]:
lgbm_tuned.predict(Test)

ValueError: Number of features of the model must match the input. Model n_features_ is 52 and input n_features is 55